{
  "extends": ["last", "plugin:react/recommended", "plugin:cypress/recommended"],
  "env": {
    "node": true,
    "commonjs": true,
    "browser": true,
    "es6": true,
    "jest": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
