@media (max-width: 400px) {

    .modal-dialog {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .modal-sm {
        width: 100vw;
    }

}

body.modal-open {
    overflow: hidden;
    position: fixed;
    width:100%;
}